{block content}

<div id="banner">
    <h1 n:block=title>Jsem v adminu?</h1>
</div>

<h2>{_messages.title}</h2>

<div class="jazyky">
	<div class="jazyk jazyk_cs"><a n:href="this, locale => cs">cesky</a></div>
	<div class="jazyk"><a n:href="this, locale => en">anglicky</a></div>
</div>

{/block}