homepageLogin: "Log in to the application"
loginAsAdmin: "Administrator"
loginAsUser: "User"
userName: "Username"
password: "Password"
submit: "Submit"
understand: "I understand"
adminLogin: "Administrator login"
userLogin: "User login"
userOverview: "Your account"
yourUserName: "Your username"
yourId: "Identifier"
yourStatus: "Account status"
statusEnabled: "Active"
statusDisabled: "Deactivated"
logOut: "Log Out"
yourRole: "User role"
roleAdmin: "Administrator"
roleUser: "User"