homepageLogin: "Přihlaste se do aplikace"
loginAsAdmin: "Administrátor"
loginAsUser: "Uživatel"
userName: "Uživatelské jméno"
password: "Heslo"
submit: "Odeslat"
understand: "Rozumím"
adminLogin: "Přihlášení administrátora"
userLogin: "Přihlášení uživatele"
userOverview: "Váš účet"
yourUserName: "Uživatelské jméno"
yourId: "Idenfikátor"
yourStatus: "Stav účtu"
statusEnabled: "Aktivní"
statusDisabled: "Deaktivován"
logOut: "Odhlásit"
yourRole: "Uživatelská role"
roleAdmin: "Administrátor"
roleUser: "Uživatel"